body{
    background-color: rgba(139, 0, 0, 0.829);
    color: white;
    font-family: "Tangerine", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: black;
    color: wheat;
    font-family: "Tangerine", serif;

}

.passo{
    display: none;
}


.passo.ativo{
    display: block;
}

main{
    text-align: center;
    max-width: 90%;
}

img{
    max-width: 80%;
    
}

